<html>
<head>
<meta charset="ISO-8859-1">
<title>Job Description</title>
</head>
<style>
body { 
   background-image:url(http://cliparts.co/cliparts/rin/rpp/rinrpp4BT.jpg);
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    font-family: 'Palatino Linotype'!important;
    font-size:15px;
}
.panel-default{
background:none;
}
#description{
background:none ;
}
.row input[type="text"] {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
  background:none;
}
</style>
<body>
<div ng-controller="JobController as ctrl">


<div ng-hide="currentUser==''">
<div class="panel panel-default" ng-controller="JobController as ctrl">

<legend><center>Job Description</center></legend>

<div class="formcontainer">
<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
<div class="row">
 <div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="title">Title</label>
<div class="col-md-7">
<input type="text" width="100" height="50" ng-model="ctrl.job.title" id="title"
class="title form-control input-sm" placeholder="Enter the job title">
</div>
</div>
</div>
 
<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="qualification">Qualification</label>
<div class="col-md-7">
<input type="text" width="100" height="50" ng-model="ctrl.job.qualification" id="qualification"
class=" qualification form-control input-sm" placeholder="Enter your qualification">
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="description">Description</label>
<div class="col-md-7">
<textarea rows="20" cols="300" ng-model="ctrl.job.description" id="description"
class="description form-control input-sm" placeholder="Tell us about your dream job"></textarea>
</div>
</div>
</div>

<div class="row">
<div class="form-actions floatRight">
<button type="submit" class="btn btn-default btn-postjob-submit btn-block m-t-md">Post Job</button>
<button type="button" ng-click="ctrl.reset()" class="btn btn-default btn-reset-submit btn-block m-t-md">Reset</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</body>
</html>
