<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Page</title>
</head>
<style>
body { 
   background-image:url(http://cliparts.co/cliparts/rin/rpp/rinrpp4BT.jpg);
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    font-family: 'Palatino Linotype'!important;
    font-size:15px;
}
h1{
font-family:'Edwardian Script ITC';
font-size:100px;
}
</style>
<body>
<div class="container" ng-controller="BlogController as ctrl">

<h1>Select a blog of your choice...</h1>
<div ng-repeat="blog in ctrl.blogs">
<a href="#" ng-click="ctrl.getSelectedBlog(blog.id)">title {{blog.title}} -written by: {{blog.userid}}</a>
</div>
</div>
</body>
</html>